In [54]:
import pandas as pd
import numpy as np
# To import the models (Decision Tree Classifier and Regressor)
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier

# To display a tree
from sklearn.tree import plot_tree

# To measure accuracy
from sklearn import metrics, preprocessing, tree

from sklearn.model_selection import cross_validate, KFold

# To support plots
from ipywidgets import interact
import ipywidgets as widgets
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

from IPython.display import Image
from pylab import rcParams
from sklearn.metrics import f1_score, make_scorer
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from io import StringIO
import warnings
from sklearn.metrics import accuracy_score
from scipy import misc
from matplotlib.pyplot import imread
from matplotlib.colors import ListedColormap
import math

# To display all the plots inline
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Binarizer
import seaborn as sn

In [55]:
# To load datasets
bank_data = pd.read_csv("./bank-additional-full.csv")
bank_data.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [56]:
bank_data["job"] = bank_data["job"].astype('category')
bank_data["marital"] = bank_data["marital"].astype('category')
bank_data["education"] = bank_data["education"].astype('category')
bank_data["default"] = bank_data["default"].astype('category')
bank_data["housing"] = bank_data["housing"].astype('category')
bank_data["loan"] = bank_data["loan"].astype('category')
bank_data["contact"] = bank_data["contact"].astype('category')
bank_data["month"] = bank_data["month"].astype('category')
bank_data["day_of_week"] = bank_data["day_of_week"].astype('category')
bank_data["poutcome"] = bank_data["poutcome"].astype('category')
bank_data["y"] = bank_data["y"].astype('category')

In [57]:
bank_data["job"] = bank_data["job"].cat.codes
bank_data["marital"] = bank_data["marital"].cat.codes
bank_data["education"] = bank_data["education"].cat.codes
bank_data["default"] = bank_data["default"].cat.codes
bank_data["housing"] = bank_data["housing"].cat.codes
bank_data["loan"] = bank_data["loan"].cat.codes
bank_data["contact"] = bank_data["contact"].cat.codes
bank_data["month"] = bank_data["month"].cat.codes
bank_data["day_of_week"] = bank_data["day_of_week"].cat.codes
bank_data["poutcome"] = bank_data["poutcome"].cat.codes
bank_data["y"] = bank_data["y"].cat.codes

bank_data.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57,7,1,3,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,0,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191.0,0

In [58]:
x = bank_data.iloc[:,0:20]
y = bank_data.iloc[:,20:21]
y.shape

(41188, 1)

In [59]:
# To increase quality of figures
plt.rcParams["figure.figsize"] = (20, 10)

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 123)
y_train = y_train.values
x_train = x_train.values
x_train.shape

(28831, 20)

In [61]:
y_train.shape

(28831, 1)

In [ ]:
model_forest=RandomForestClassifier(class_weight= 'balanced',random_state=598, max_features='sqrt', max_depth=5, min_samples_split=3, n_estimators=1000)
model_forest.fit(x_train, y_train)

In [109]:
y_test_hat = model_forest.predict(x_test)

print('Accuracy:', metrics.accuracy_score(y_test, y_test_hat))

Accuracy: 0.9087966334870924

In [99]:
model_forest = GridSearchCV(RandomForestClassifier(class_weight= 'balanced',random_state=598, max_features='sqrt'),
                            
                            n_jobs=-1,
                            iid=False,
                            param_grid={
                                'n_estimators': [300, 400, 500],
                                'max_depth': [7, 8, 9,10,11,12],
                                'min_samples_split': [100, 150, 200]
                            })

In [100]:
model_forest.fit(x_train, y_train)
print('The parameters found by CV search:')
print(model_forest.best_params_)

C:\Users\skesarwa\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\skesarwa\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

The parameters found by CV search:
{'max_depth': 12, 'min_samples_split': 100, 'n_estimators': 500}

In [101]:
y_test_hat = model_forest.predict(x_test)

print('Accuracy:', metrics.accuracy_score(y_test, y_test_hat))

Accuracy: 0.8602411588573279

In [110]:
model_forest = RandomForestClassifier(class_weight= 'balanced',random_state=598, max_features='sqrt',n_estimators=1000)
model_forest.fit(x_train, y_train)

C:\Users\skesarwa\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(bootstrap=True, class_weight='balanced',
                       criterion='gini', max_depth=None, max_features='sqrt',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=1000, n_jobs=None, oob_score=False,
                       random_state=598, verbose=0, warm_start=False)

In [111]:
y_test_hat = model_forest.predict(x_test)

In [112]:
print('Accuracy:', metrics.accuracy_score(y_test, y_test_hat))

Accuracy: 0.9121145909201263

In [108]:
#model_tree = GridSearchCV(DecisionTreeClassifier(random_state=520),
                          cv=5,
                          param_grid={
                              "max_depth": list(range(1, 40, 2)),
                              "min_samples_split": list(range(2, 100, 2))
                          })
model_tree.fit(x_train, y_train)
print('The parameters found by CV search:')
print(model_tree.best_params_)
y_test_hat = model_tree.predict(x_test)

print('Accuracy:', metrics.accuracy_score(y_test, y_test_hat))

The parameters found by CV search:
{'max_depth': 5, 'min_samples_split': 18}
Accuracy: 0.9134903293679696